body {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/simcity.jpg");
    background-attachment: fixed;
    background-size: cover;
  }
  
  .bomb-container {
    /* display: flex;
    flex-direction: column; */
    background-color: black;
    height: 400px;
    width: 175px;
  }
  
  #timer {
    color: red;
    font-size: 1.5em;
  }
  #reset {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  